# All documentation files must be reviewed by either @svenvg93 or @Tmetman
/docs/      @svenvg93 @Tmetman

# MkDocs configuration must be reviewed by @svenvg93
mkdocs.yml  @svenvg93
requirements.txt    @svenvg93